<p>new-game works!</p>

<h2>Mi Primer formulario reactivo</h2>

<form id="formJugadores" [formGroup]="frmJugadores"  (ngSubmit)="submitJugadores()">
  <select name="Jugadores" multiple class="jugadores" formControlName="jugadores">
    <option *ngFor="let j of jugadoresFake" [value]="j.id">{{ j.name }}</option>
  </select>
  <button [disabled]="frmJugadores.invalid" type="submit" class="w-72 text-center py-3 my-3 border flex space-x-2 items-center justify-center border-slate-200 rounded-lg text-slate-700 hover:border-slate-400 hover:text-slate-900 hover:shadow transition duration-150">
      <img src="https://www.svgrepo.com/show/199915/login.svg" class="w-6 h-6" alt=""> <span>Create Game</span>
  </button>

  <div class="w-fit p-3 m-10 bg-red-200" *ngIf="frmJugadores.get('jugadores')?.hasError('required')">
    <h2 class="text-red-600 font-bold">
      Debes seleccionar al menos un jugador
    </h2>
  </div>
</form>
