<!DOCTYPE html>
<app-header-nav></app-header-nav>
<section class="text-gray-400 bg-main body-font min-h-screen p-40">
<div class="container h-screen max-w-full">
  <div class="m-auto w-96 max-w-lg items-center justify-center overflow-hidden rounded-2xl bg-black opacity-70 shadow-xl">
    <div class="h-24"></div>
    <div class="-mt-20 flex justify-center">
      <img class="h-32 rounded-full" src="https://i.pinimg.com/236x/35/60/8a/35608aaf7941c23553d76170420a8fc1.jpg" />
    </div>
    <div class="mt-5 mb-1 px-3 text-center text-lg">{{ actualPlayer.name }}</div>
    <div class="mb-5 px-3 text-center text-sky-500">Score Game: {{ actualPlayer.puntaje }}</div>
    <blockquote>
      <p class="mx-2 mb-7 text-center text-base">Score Cards {{ actualPlayer.puntajeCartas }}</p>
    </blockquote>
  </div>
</div>
</section>
